
<form name="formulario" method="post" action="http://pagina.com/send.php">
  <!-- Lista de selección -->
  <h1>Elige el curso:</h1>
  <select >

      <option *ngFor="let curso of cursos"><a [routerLink]="['/cursos', curso.id]">{{curso.nomCurso}}</a></option>

  </select>
</form>

<h2>Alumnos del curso:</h2>
<ul>
  <li *ngFor="let alumno of alumnos">{{ alumno.Nombre }}</li>
</ul>

<!--
<table>
  <thead>
    <tr>


    </tr>
  </thead>
  <tr *ngFor="let curso of cursos">
      <td><a [routerLink]="['/cursos', curso.id]">{{curso.nomCurso}}</a></td>
  </tr>

</table>
<br>
-->
