
<form name="formulario" method="post" action="http://pagina.com/send.php">
  <!-- Lista de selección -->
  <h1>Elige el curso:</h1>
  <select name="curso">
    <ng-container *ngFor="let curso of cursos">
      <option value="1"><a [routerLink]="['/cursos', curso.id]">{{curso.nomCurso}}</a></option>
    </ng-container>
  </select>
</form>

<!--
<table>
  <thead>
    <tr>


    </tr>
  </thead>
  <tr *ngFor="let curso of cursos">
      <td><a [routerLink]="['/cursos', curso.id]">{{curso.nomCurso}}</a></td>
  </tr>

</table>
<br>
-->
